.btn {
    display: block;
    padding: 12px 0;
    width: 150px;
    border-radius: 900px;
    font-size: 15px;
    text-align: center;
    color: $white;
    background: linear-gradient(to right, $lime-green, $bright-cyan);
}